/* all html files use this css file */

/* html {
    background-color: rgb(255, 255, 255); */
    /* font-family: sans; */
/* }

#link2index {
    padding-top: 1em;
} */
*{
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    height: 100%;   /* javascript sets height, but that can't make it smaller than this */
    background-color: #0a0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* transition-property: height;
    transition-duration: 0.5s; */
}
.game-area {
    /* width: 960%; */
    /* height: 100%; */
    /* background-color: whitesmoke; */
    /* border: 1px solid gray; */
    /* margin: 2vw; */
}

.button-place{
    display: flex;
    justify-content: space-around;
    z-index: 101;
    height: 7%;
    width: 96%;
    align-items: end;
    /* background-color: rgb(121, 80, 80); */
    position: absolute;
    top: 88%;
    margin: 2vw;
}
.new-game-button {
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 8px;
    height: 100%;
    width: 60vw;
    align-self: center;
    transition-duration: 0.4s;
}
.new-game-button:active {
    background-color: rgb(233, 111, 111);
    transition-duration: 0.4s;
}
.back-button{
    height: 7vh;
    width: 14vh;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 8px;
    transition-duration: 0.4s;
}
.back-button:active {
    background-color: rgb(233, 111, 111);
    transition-duration: 0.4s;
}


.status-message {
    /* TODO: figure out how to make it stretch to the text size instead */
    width: 10em;
    text-align: center;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);

    /* cards use about 100 and a little more, this puts it above them */
    z-index: 200;
}
.status-message {
    font-size: 2em;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 8px 8px 4px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.status-message.hidden {
    display: none;
}









.card, .card-place {
    /* card size is defined in the javascript because it's much easier that way imo */
    border-radius: 5px;
    transform: translate(-50%, -50%);
    position: absolute;
    /* width: 69.93px;
    height: 97.34px; */
    /* top: 70vw; */
}
.card-place {
    background-color: #090;
    border: 2px solid #080;

    /* make sure that these things get "hidden" behind the cards
       without this, it looks ok on chromium but not on firefox */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* display: flex; */
    flex-direction: row-reverse;
    /* transform: translate(50%, -50%); */
}

.card {
    background-image: url('../materials/Images/Back/back_pattern_1.png');
    background-size: cover;/
}
.card.visible {
    /* background-color: whitesmoke; */
    background-image: url('../materials/Images/Front/front_empty.png');
}
.card.dragging {
    transition-property: none;
}
.card.ready2drop {
    border: 5px solid blue;
}

.card > div {
    display: flex;
    position: absolute;
    margin: 3px;
    font-size: 1.3em;
    flex-direction: column;
    align-items: center;
    opacity: 0;   /* hides everything unless .visible rules override */
    transition-property: opacity;
    transition-duration: 0.2s;
}

.card.visible > div {
    opacity: 1;
}

.card div:nth-of-type(2) {
    right: 0px;
    bottom: 0px;
    transform: rotate(180deg);
}

.card.black.visible > div { color: black; }
.card.red.visible > div { color: red; }




/* 
@media (max-width: 700px) {
    
    .card, .card-place {
        width: 13vw;
        height: 18.096vw;
    }
    
} */